/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2015, 12:36:34 AM
    Author     : yormaxpc
*/

.ePortfolio_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(230, 50, 50);
    -fx-border-color: rgb(200, 200, 200);
    -fx-alignment: CENTER;
     
     
}

.ePage_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: indigo;
    -fx-border-color: black;
    -fx-border-width:10px;
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
    
}

.selected_ePage_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(250, 190, 190);
    -fx-border-color: rgb(200, 200, 200);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
    
}
// This one is used for the adding/moving ect. buttons (down here)
.vertical_toolbar_button {
    -fx-background-color: rgb(250, 130, 130);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 100px;
  
   
}

.horizontal_toolbar_button {
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
}

//The styles I created 
.main_background
{
  -fx-spacing:30;
  -fx-background-color:#cccc00;
  -fx-font-family:verdana;
  -fx-font-size:15px;
   


}


.buttons_Background
{
 -fx-font-family:verdana;
 -fx-font-size:13px;
 -fx-font-wieght:600;
 -fx-background-color: linear-gradient(#9EA7E5, #61a2b1);
 -fx-text-fill: #383640;
 


}
.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    -fx-text-fill:#ffffff;
    
}
